<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.label :username, class: 'control-label' %>
    <%= f.text_field :username, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %> Remember me
      </label>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
