<h2>Edit Profile</h2>

<%= flash_messages %>

<%= form_for(@user, url: user_update_path(@user), html: { method: :put, class: 'form' } ) do |f| -%>

  <div class="form-group">
    <%= f.label :first_name, "First Name", class: 'control-label' %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Last Name", class: 'control-label' %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Apply Changes", class: 'btn btn-primary' %>
  </div>

<% end -%>
    
