<h2>Change Password</h2>

<%= form_for(resource, as: resource_name, remote: true, url: registration_path(resource), html: { method: :put, class: 'form' } ) do |f| -%>

  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :current_password, "Current Password", class: 'control-label' %>
    <%= f.password_field :current_password, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, "New Password", class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm Password", class: 'control-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Apply Changes", class: 'btn btn-primary' %>
  </div>

<% end -%>
